:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
}

* {
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  color: #f8f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.main {
  margin: 0 4rem;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  text-align: center;
  width: 100%;
  background: rgba(8, 174, 245, 0.5);
  color: white;
  position: relative;
  bottom: 0;
  max-height: 50px;
  height: 50px;
  margin-top: auto;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  width: 90%;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
}

.input-wrapper {
  margin-bottom: 0px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-login form {
  text-align: left;
}

nav {
  background-color: #4fcdef;
  padding: 1rem 4rem;
}

nav p {
  color: white;
  font-weight: bold;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4fcdef;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pBorder {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.subtitulo {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: medium;
  color: #000203;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-datepicker-title {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}

.p-datepicker-trigger,
.p-inputtext {
  margin-top: 0px !important;
  width: fit-content;
}
