.p-paginator {
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem 0.25rem 0.5rem 0.25rem;
}

.p-paginator button {
  width: fit-content;
  margin-top: 0px;
}

.p-inputwrapper {
  margin-right: auto;
}

.p-datatable {
  width: 100%;
}
